@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.ghost {
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    color: white;
    grid-area: header;
}

.ghost__navList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ghost__navEnd {
    display: flex;
}

.ghost__navStart > a {
    margin-right: 2rem;
    text-decoration: none;
    color: inherit;
}

.ghost__navEnd > span {
    margin-right: 2rem;
}


.ghost__navEnd > span > img {
    height: 1.5rem;
    width: 1.5rem;
}

.ghost__navEnd > span > button {
    padding: .5rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    color: white;
    background-color: black;
}

.ghost__navEnd > span > button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.ghost__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem;
}

.ghost__hero > img {
    height: 60px;
    width: 200px;
}

.welcomeToGhost {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcomeToGhost__img {
    max-width: 100%;
    margin: 2rem;

}

.welcomeToGhost__text {
    margin: 3rem;
}

.welcomeToGhost__text > h3 {
    color: blue;
}

.welcomeToGhost__text > h1 {
    font-size: 3rem;
}

.welcomeToGhost__text > p {
    font-size: larger;
}

hr {
    width: 100%;
}